<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.postgre.choongsam.mapper.hjh">

		<select id="teastdlist" resultType="User_Info" parameterType="Map">
		    SELECT 
		        ui.*,
		        li."USER_STATUS"
		    FROM "USER_INFO" ui
		    LEFT JOIN "LOGIN_INFO" li ON ui."USER_ID" = li."USER_ID"
		    WHERE 
		        #{keyword} IS NULL
		    OR
		        (ui."USER_NAME" ILIKE '%' || #{keyword} || '%'
		        OR ui."USER_ID" ILIKE '%' || #{keyword} || '%')
		    ORDER BY ui."USER_NAME" ASC
		    LIMIT #{rowPage} OFFSET #{start};
		</select>
		
		
		<select id="totalusercount" resultType="int" parameterType="String">
	    SELECT count(*)
	    FROM "USER_INFO"
	    WHERE 
		#{keyword} IS NULL 
			OR
					("USER_NAME" ILIKE '%' || #{keyword} || '%'
					OR "USER_ID" ILIKE '%' || #{keyword} || '%')

		</select>
		
		<select id="detailProfile" parameterType="Map" resultType="User_Info">
		    SELECT *
		    FROM "USER_INFO"
		    WHERE "USER_ID" = #{USER_ID}
		</select>
	

			
		<update id="userProfile1" parameterType="User_Info">
			UPDATE public."USER_INFO"
			    SET   "USER_NAME"= #{user_name},
			   		  "EMAIL" = #{email},
			   		  "ADDRESS" = #{address},
			   		  "PROFILE_NAME" = #{profile_name},
			   		  "PROFILE_ADDR" = #{profile_addr},
			   		  "PHONE_NUM" = #{phone_num},
			   		  "BIRTH" = #{birth}
			    WHERE "USER_ID" = #{user_id}
		</update>

		
		<select id="profileupdate" resultType="User_Info" >
		    SELECT * 
		    FROM "USER_INFO"
		    WHERE "USER_ID" = #{USER_ID}
	
	    	</select>
    	
    	
    	<select id="detailProfileuser" parameterType="String" resultType="User_Info">
		    SELECT *
	   		 FROM "USER_INFO"
	   		 WHERE "USER_ID" = #{user_id}
		</select>

			<update id="deleteStd1" parameterType="Map">
			    UPDATE public."USER_INFO" UI
			    SET "DEL_STATE" = 1
			    WHERE UI."USER_ID" = #{user_id}

			</update>
		

		<select id="getLoginInfo" parameterType="String" resultType="Login_Info" >
		    SELECT * 
		    FROM "LOGIN_INFO"
		    WHERE "USER_ID" = #{userId}
	
	    	</select>
	    	
		<update id="updateCountAdmin" parameterType="User_Info">
			UPDATE public."USER_INFO"
			    SET   "USER_NAME"= #{user_name},
			   		  "EMAIL" = #{email},
			   		  "ADDRESS" = #{address},
			   		  "PHONE_NUM" = #{phone_num},
			   		  "BIRTH" = #{birth}
			    WHERE "USER_ID" = #{user_id}
		</update>
		

				
			<update id="changePW" parameterType="map">
				UPDATE "LOGIN_INFO" 
				SET "PASSWORD" = #{new_password}
				 where "USER_ID" = #{user_id}
			</update>
		
		
		<select id="lectureList" resultType="Lecture">
		    SELECT *
		    FROM "LECTURE"
		    WHERE "USER_SEQ" = CAST(#{userSeq} AS INTEGER)
		</select>
		
			<select id="sugangStu" resultType="Course_Registration">
			    SELECT 
			        cr.*, 
			        ui."USER_NAME" AS std_name, 
			        l."ONOFF" AS ONOFF, 
			        l."LCTR_NAME" AS LCTR_NAME
			    FROM "COURSE_REGISTRATION" cr
			    LEFT JOIN "USER_INFO" ui ON cr."USER_SEQ" = ui."USER_SEQ"
			    LEFT JOIN "LECTURE" l ON cr."LCTR_ID" = l."LCTR_ID"
			    WHERE cr."USER_SEQ" = #{userSeq}
			    ORDER BY cr."REG_STATE" ASC, cr."APLY_DATE" DESC
			</select>

		
		
		<update id="updatePayState" parameterType="Map">
		    UPDATE "COURSE_REGISTRATION"
		    SET 
		        "PAY_STATE" = 'Y', 
		        "PAY_DATE" = CURRENT_DATE,
		        "REG_STATE" =  '2003'
		    WHERE "USER_SEQ" = #{user_seq}
		      AND "LCTR_ID" = #{lctr_id};
		</update>

		<select id="sugangStuTotalCount"   resultType="int">
		    SELECT count(*)
		    FROM "LECTURE"
		    FROM "COURSE_REGISTRATION"
		    WHERE "USER_SEQ" = #{user_seq}
		</select>
		
		<select id="totalLectureCount" resultType="int">
		    SELECT count(*)
		    FROM "LECTURE"
		    WHERE "USER_SEQ" = #{user_seq}
		</select>

</mapper> 


