<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.postgre.choongsam.mapper.hjh">

		<select id="teastdlist" resultType="User_Info" parameterType="Map">
	    SELECT * 
	    FROM "USER_INFO"
	    WHERE 
			#{keyword} IS NULL
        OR
            ("USER_NAME" ILIKE '%' || #{keyword} || '%'
            OR "USER_ID" ILIKE '%' || #{keyword} || '%')
			LIMIT #{rowPage} OFFSET #{start};
    	</select>
		
		
		<select id="totalusercount" resultType="int" parameterType="String">
	    SELECT count(*)
	    FROM "USER_INFO"
	    WHERE 
		#{keyword} IS NULL 
			OR
					("USER_NAME" ILIKE '%' || #{keyword} || '%'
					OR "USER_ID" ILIKE '%' || #{keyword} || '%')

		</select>
	<select id="detailProfile" parameterType="Map" resultType="User_Info">
	    SELECT *
	    FROM "USER_INFO"
	    WHERE "USER_ID" = #{USER_ID}
	</select>
	

			
		<update id="userProfile1" parameterType="User_Info">
			UPDATE public."USER_INFO"
			    SET   "USER_NAME"= #{user_name}
			    WHERE "USER_ID" = #{user_id}
		</update>

		
	<select id="profileupdate" resultType="User_Info" >
	    SELECT * 
	    FROM "USER_INFO"
	    WHERE "USER_ID" = #{USER_ID}

    	</select>
    	
    	<select id="detailProfileuser" parameterType="String" resultType="User_Info">
		    SELECT *
	    FROM "USER_INFO"
	    WHERE "USER_ID" = #{user_id}
		</select>
		



</mapper> 


