<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.postgre.choongsam.dto.jheMapper">
	<select id="getLectureHomeworkList" resultType="Lecture">
		SELECT		u."USER_NAME" AS user_name, u."USER_SEQ", l."LCTR_ID", l."LCTR_NAME",  l."ONOFF", l."LCTR_STATE",
					(SELECT COUNT(*)
					 FROM	"COURSE_REGISTRATION" AS c
					 WHERE	c."LCTR_ID" = l."LCTR_ID" AND c."REG_STATE" = '2003') AS reg_count
		FROM		"USER_INFO" AS u
		JOIN		"LECTURE" AS l ON u."USER_SEQ" = l."USER_SEQ"
		WHERE		l."USER_SEQ" = #{user_seq}
		AND			l."LCTR_STATE" IN (4003, 4004, 4005, 4006)
		ORDER BY	l."LCTR_NAME" ASC
	</select>
	<select id="profLectureInfo" resultType="Lecture">
		SELECT		l."LCTR_ID", l."LCTR_NAME", l."ONOFF", u."USER_SEQ", u."USER_NAME", l."LCTR_CNTSCHD"
		FROM		"LECTURE" AS l
		JOIN		"USER_INFO" AS u ON l."USER_SEQ" = u."USER_SEQ"
		WHERE		l."LCTR_ID" = #{lctr_id}
	</select>
	<select id="getProfHomework" parameterType="String" resultType="Homework">
		SELECT		u."USER_NAME" AS prof_name, u."USER_SEQ", l."LCTR_ID", l."LCTR_NAME", l."ONOFF",
					h."ASMT_NO", h."ASMT_NM", h."ASMT_CN",
					h."SBMSN_BGNG_YMD", h."SBMSN_END_YMD", h."FILE_GROUP"
		FROM		"USER_INFO" AS u
		JOIN		"LECTURE" AS l ON u."USER_SEQ" = l."USER_SEQ"
		JOIN		"HOMEWORK" AS h ON l."LCTR_ID" = h."LCTR_ID"
		WHERE		l."LCTR_ID" = #{lctr_id}
		ORDER BY	l."LCTR_NAME" ASC
	</select>
	<select id="findByLCTR" resultType="Lecture">
		SELECT		l."LCTR_ID", l."LCTR_NAME", l."ONOFF", u."USER_SEQ", u."USER_NAME"
		FROM		"LECTURE" AS l
		JOIN		"USER_INFO" AS u ON l."USER_SEQ" = u."USER_SEQ"
		WHERE		l."LCTR_ID" = #{lctr_id}
	</select>
	<insert id="fileUpload" parameterType="File_Group">
		INSERT INTO "FILE_GROUP" ("FILE_GROUP","FILE_SEQ","IDNTF_NO","FILE_NM","FILE_EXTN_NM","FILE_SZ","FILE_PATH_NM")
		VALUES (#{file_group},#{file_seq},#{idntf_no},#{file_nm},#{file_extn_nm},#{file_sz},#{file_path_nm})
	</insert>
	<select id="getNextFileGroupId" resultType="int">
		SELECT NEXTVAL('file_group_seq')
	</select>
	<select id="getMaxFileSeq" parameterType="int" resultType="java.lang.Integer">
		SELECT	COALESCE(MAX("FILE_SEQ"), 0) 
		FROM	"FILE_GROUP" 
		WHERE	"FILE_GROUP" = #{file_group}
	</select>
	<insert id="insertHomework" parameterType="Homework">
		INSERT INTO "HOMEWORK" ("ASMT_NO", "LCTR_ID", "ASMT_NM", "ASMT_CN", "SBMSN_BGNG_YMD", "SBMSN_END_YMD", "FILE_GROUP")
		VALUES (NEXTVAL('asmt_no_seq'), #{lctr_id}, #{asmt_nm}, #{asmt_cn}, #{sbmsn_bgng_ymd}, #{sbmsn_end_ymd}, #{file_group})
	</insert>
	<select id="notifyStudents" parameterType="String" resultType="Homework">
		SELECT	u."USER_SEQ", h."ASMT_NO", h."LCTR_ID"
		FROM	"COURSE_REGISTRATION" AS c
		JOIN	"HOMEWORK" AS h ON c."LCTR_ID" = h."LCTR_ID"
		JOIN	"USER_INFO" AS u ON c."USER_SEQ" = u."USER_SEQ"
		WHERE	h."LCTR_ID" = #{lctr_ID}
		AND		h."ASMT_NO" = (
				SELECT		"ASMT_NO"
				FROM		"HOMEWORK"
				WHERE		"LCTR_ID" = #{lctr_ID}
				ORDER BY	"ASMT_NO" DESC
				LIMIT 1
				)
	</select>
	<insert id="insSubmission" parameterType="Homework_Submission">
		INSERT INTO "HOMEWORK_SUBMISSION" ("USER_SEQ", "ASMT_NO", "SBMSN_YN")
		VALUES (#{user_seq}, #{asmt_no}, 'N')
	</insert>
	<select id="findById" parameterType="Homework" resultType="Homework">
		SELECT	h.*, l."LCTR_ID", l."LCTR_NAME", l."USER_SEQ", u."USER_NAME" AS prof_name, fg."FILE_NM"
		FROM	"HOMEWORK" AS h
		JOIN	"LECTURE" AS l ON l."LCTR_ID" = h."LCTR_ID"
		JOIN	"USER_INFO" AS u ON u."USER_SEQ" = l."USER_SEQ"
		LEFT JOIN	"FILE_GROUP" AS fg ON h."FILE_GROUP" = fg."FILE_GROUP"
		WHERE	"ASMT_NO" = #{asmt_no}
	</select>
	<select id="getFileGroup" parameterType="int" resultType="File_Group">
		SELECT	*
		FROM	"FILE_GROUP"
		WHERE	"FILE_GROUP" = #{file_group}
	</select>
	<delete id="deletefile" parameterType="int">
		DELETE	FROM  "FILE_GROUP"  WHERE  "FILE_GROUP" = #{file_group}
	</delete>
	<update id="updateHomework" parameterType="Homework">
		UPDATE	"HOMEWORK"
		SET		"ASMT_NM" = #{asmt_nm}, "ASMT_CN" = #{asmt_cn},
				"SBMSN_BGNG_YMD" = #{sbmsn_bgng_ymd}, "SBMSN_END_YMD" = #{sbmsn_end_ymd}, "FILE_GROUP" = #{file_group}
		WHERE	"ASMT_NO" = #{asmt_no}
	</update>
	<delete id="delHomeworkSubmission" parameterType="int">
		DELETE	FROM  "HOMEWORK_SUBMISSION"  WHERE	 "ASMT_NO" = #{asmt_no}
	</delete>
	<delete id="delHomework">
		DELETE	FROM  "HOMEWORK"  WHERE	 "ASMT_NO" = #{asmt_no}
	</delete>
	<select id="getStudHomeworkList" resultType="Homework">
		SELECT	DISTINCT
					u."USER_NAME" AS prof_name, l."LCTR_ID", l."LCTR_NAME", l."ONOFF", hs."SBMSN_YN",
					h."ASMT_NO", h."ASMT_NM", h."SBMSN_BGNG_YMD", h."SBMSN_END_YMD"
		FROM		"COURSE_REGISTRATION" AS c
		JOIN		"LECTURE" AS l ON c."LCTR_ID" = l."LCTR_ID"
		JOIN		"USER_INFO" u ON l."USER_SEQ" = u."USER_SEQ"
		JOIN		"HOMEWORK" AS h ON l."LCTR_ID" = h."LCTR_ID"
		JOIN		"HOMEWORK_SUBMISSION" AS hs ON h."ASMT_NO" = hs."ASMT_NO"
		WHERE		hs."USER_SEQ" = #{user_seq}
		AND			TO_DATE(h."SBMSN_END_YMD", 'YYYY-MM-DD') >= CURRENT_DATE
		ORDER BY	l."LCTR_NAME" ASC
	</select>
	<update id="updatesubmitHomework" parameterType="Homework_Submission">
		UPDATE	"HOMEWORK_SUBMISSION"
		SET		"SBMSN_YN" = #{sbmsn_yn}, "SBMSN_YMD" = #{sbmsn_ymd}, "ASMT_SCR" = #{asmt_scr}, "FILE_GROUP" = #{file_group}
		WHERE	"ASMT_NO" = #{asmt_no}
		AND		"USER_SEQ" = #{user_seq}
	</update>
	<select id="getTotStudInCourse" resultType="int">
		SELECT	COUNT(*)
		FROM	"COURSE_REGISTRATION"
		WHERE	"LCTR_ID" = #{lctr_ID}
	</select>
	<select id="getSubmittedStuds" resultType="int">
		SELECT	COUNT(*)
		FROM	"HOMEWORK_SUBMISSION"
		WHERE	"ASMT_NO" = #{asmt_no}
		AND		"SBMSN_YN" = 'Y'
	</select>
	<select id="getStudSubmitList" resultType="Homework">
		SELECT		l."LCTR_ID", l."LCTR_NAME", u."USER_NAME" AS profName,
					ui."USER_NAME" AS stud_name, h."ASMT_NM", h."SBMSN_END_YMD",
					CASE WHEN hs."SBMSN_YN" = 'Y' THEN '제출'
						 ELSE '미제출'
					END	 AS	  SBMSN_YN
		FROM		"LECTURE" AS l
		JOIN		"COURSE_REGISTRATION" AS c ON l."LCTR_ID" = c."LCTR_ID"
		JOIN		"USER_INFO" AS ui ON c."USER_SEQ" = ui."USER_SEQ"
		JOIN		"HOMEWORK" AS h ON l."LCTR_ID" = h."LCTR_ID"
		LEFT JOIN	"HOMEWORK_SUBMISSION" AS hs ON ui."USER_SEQ" = hs."USER_SEQ"
		AND			h."ASMT_NO" = hs."ASMT_NO"
		JOIN		"USER_INFO" AS u ON l."USER_SEQ" = u."USER_SEQ"
		WHERE		l."LCTR_ID" = #{LCTR_ID}
		AND			l."USER_SEQ" = (SELECT	"USER_SEQ"
									FROM	"LECTURE"
									WHERE	"LCTR_ID" = #{LCTR_ID})
		AND			c."REG_STATE" = '2003'
		ORDER BY	h."SBMSN_END_YMD" ASC, h."ASMT_NM" ASC, ui."USER_NAME" ASC
	</select>
	<select id="getHomeworkStatus" resultType="HOMEWORK_SUBMISSION">
		SELECT	hs."USER_SEQ", hs."ASMT_NO", hs."SBMSN_YN"
		FROM	"HOMEWORK_SUBMISSION" AS hs
		JOIN	"HOMEWORK" h ON hs."ASMT_NO" = h."ASMT_NO"
		WHERE	hs."USER_SEQ" = #{USER_SEQ}
		AND		h."LCTR_ID" = #{LCTR_ID}
	</select>
	<select id="profAttMain" resultType="Attendance_Check">
		SELECT		l."LCTR_ID", l."LCTR_NAME", l."LCTR_CNTSCHD", l."ONOFF", a."LCTR_NO",
					COUNT(DISTINCT a."USER_SEQ") AS reg_count,
					SUM(CASE WHEN a."ATT_STATUS" = 5001 THEN 1 ELSE 0 END) AS present_count,
					SUM(CASE WHEN a."ATT_STATUS" = 5002 THEN 1 ELSE 0 END) AS late_count,
					SUM(CASE WHEN a."ATT_STATUS" = 5003 THEN 1 ELSE 0 END) AS absent_count,
					ROUND(
						SUM(CASE WHEN a."ATT_STATUS" = 5001 OR a."ATT_STATUS" = 5002 
							THEN 1 ELSE 0 END) * 100.0 / COUNT(DISTINCT a."USER_SEQ")
						) AS attendance_rate
		FROM		"LECTURE" AS l
		LEFT JOIN	"ATTENDANCE_CHECK" AS a ON l."LCTR_ID" = a."LCTR_ID"
		WHERE		a."LCTR_ID" = #{lctr_id}
		GROUP BY	l."LCTR_ID", l."LCTR_NAME", l."LCTR_CNTSCHD", l."ONOFF", a."LCTR_NO"
	</select>
	<select id="getLctrNoList" resultType="int">
		SELECT		"LCTR_NO"
		FROM		"SYLLABUS"
		WHERE		"LCTR_ID" = #{lctr_id}
	</select>
	<select id="getStudAtt" resultType="Attendance_Check">
		SELECT		u."USER_SEQ", u."USER_NAME", a."ATT_STATUS", l."ONOFF", c."LCTR_ID"
		FROM		"COURSE_REGISTRATION" AS c
		JOIN		"USER_INFO" AS u ON c."USER_SEQ" = u."USER_SEQ"
		LEFT JOIN	"ATTENDANCE_CHECK" AS a ON c."USER_SEQ" = a."USER_SEQ"
		AND			c."LCTR_ID" = a."LCTR_ID"
		LEFT JOIN	"LECTURE" AS l ON c."LCTR_ID" = l."LCTR_ID"
		WHERE		c."LCTR_ID" = #{LCTR_ID}
		AND			a."LCTR_NO" = #{LCTR_NO}
		AND			c."REG_STATE" = '2003'
	</select>
	<select id="getOnlineStudAtt" resultType="Attendance_Check">
		SELECT	a."USER_SEQ", a."LCTR_ID", a."LCTR_NO", a."ATT_STATUS", c."CONTS_PRGRT"
		FROM	"ATTENDANCE_CHECK" AS a
		JOIN	"CLASS_SCHEDULE" AS c ON a."LCTR_ID" = c."LCTR_ID"
		AND		a."LCTR_NO" = c."LCTR_NO"
		WHERE	a."LCTR_ID" = #{lctr_id}
	</select>
	<update id="updateStudAtt" parameterType="Attendance_Check">
		UPDATE	"ATTENDANCE_CHECK"
		SET		"ATT_STATUS" = #{att_status}
		WHERE	"LCTR_NO" = #{lctr_no}
		AND		"LCTR_ID" = #{lctr_id}
		AND		"USER_SEQ" = #{user_seq}
	</update>
	<update id="upStudOnlineAtt" parameterType="Attendance_Check">
		UPDATE	"ATTENDANCE_CHECK" AS a
		SET		"ATT_STATUS" =
				CASE
					WHEN c."CONTS_PRGRT" >= 90 THEN 5001
					WHEN c."CONTS_PRGRT" &lt; 90 THEN 5003
					ELSE 5003
				END
		FROM	"CLASS_SCHEDULE" AS c
		WHERE	a."LCTR_NO" = c."LCTR_NO"
		AND		a."LCTR_ID" = c."LCTR_ID"
		AND		a."USER_SEQ" = c."USER_SEQ"
	</update>
	<select id="getViewingPeriod" resultType="String">
		SELECT		"VIEWING_PERIOD"
		FROM		"LECTURE_VIDEO"
		WHERE		"LCTR_ID" = #{lctr_id}
		AND			"LCTR_NO" = #{lctr_no}
	</select>
	<select id="studLecture" resultType="Lecture">
		SELECT		p."USER_NAME", l."USER_SEQ", l."LCTR_ID", l."LCTR_NAME", l."ONOFF", c."REG_STATE"
		FROM		"USER_INFO" AS u
		JOIN		"COURSE_REGISTRATION" AS c ON u."USER_SEQ" = c."USER_SEQ"
		JOIN		"LECTURE" AS l ON c."LCTR_ID" = l."LCTR_ID"
		JOIN		"USER_INFO" AS p ON l."USER_SEQ" = p."USER_SEQ"
		WHERE		c."USER_SEQ" = #{user_seq}
		AND			c."REG_STATE" = '2003'
		ORDER BY	l."LCTR_NAME" ASC
	</select>
	<select id="studLectureMain" resultType="Lecture">
		SELECT		l."LCTR_ID", l."LCTR_NAME", l."ONOFF", u."USER_SEQ", u."USER_NAME", l."LCTR_CNTSCHD"
		FROM		"LECTURE" AS l
		JOIN		"USER_INFO" AS u ON l."USER_SEQ" = u."USER_SEQ"
		WHERE		l."LCTR_ID" = #{lctr_id}
	</select>
	<select id="studAtt" resultType="Attendance_Check">
		SELECT		u."USER_SEQ", a."LCTR_NO", a."LCTR_ID", a."ATT_STATUS", l."ONOFF"
		FROM		"ATTENDANCE_CHECK" AS a
		JOIN		"USER_INFO" AS u ON a."USER_SEQ" = u."USER_SEQ"
		JOIN		"LECTURE" AS l ON a."LCTR_ID" = l."LCTR_ID"
		WHERE		a."LCTR_ID" = #{lctr_id}
		AND			a."USER_SEQ" = #{user_seq}
		ORDER BY	a."LCTR_NO" ASC
	</select>
	<select id="profAttDetail" resultType="Attendance_Check">
		SELECT DISTINCT
					u."USER_SEQ", u."USER_NAME" AS stud_name, a."LCTR_NO", a."ATT_STATUS",
					l."LCTR_ID", l."LCTR_NAME", l."ONOFF"
		FROM		"ATTENDANCE_CHECK" AS a
		JOIN		"SYLLABUS" AS s ON a."LCTR_NO" = s."LCTR_NO"
		JOIN		"USER_INFO" AS u ON a."USER_SEQ" = u."USER_SEQ"
		JOIN		"LECTURE" AS l ON a."LCTR_ID" = l."LCTR_ID"
		WHERE		a."LCTR_NO" = #{lctr_no}
		AND			a."LCTR_ID" = #{lctr_id}
	</select>
	<select id="selectGrade" resultType="Grade">
		SELECT		*
		FROM		"GRADE"
		WHERE		"LCTR_ID" = #{lctr_id}
		AND			"USER_SEQ" = #{user_seq}
	</select>
	<select id="studScores" resultType="Grade">
		SELECT		u."USER_NAME" AS stud_name, l."LCTR_ID", l."LCTR_NAME", l."ONOFF",
					g."USER_SEQ", g."LCTR_ID", g."ATNDC_SCR", g."ASMT_SCR", g."LAST_SCR", g."FNSH_YN"
		FROM		"GRADE" AS g
		JOIN		"USER_INFO" u ON g."USER_SEQ" = u."USER_SEQ"
		JOIN		"LECTURE" AS l ON g."LCTR_ID" = l."LCTR_ID"
		WHERE		g."USER_SEQ" = #{user_seq}
		AND			g."LCTR_ID" = #{lctr_id}
	</select>
	<select id="studUserSeqList" resultType="Integer">
		SELECT		"USER_SEQ", "LCTR_ID"
		FROM		"COURSE_REGISTRATION"
		WHERE		"LCTR_ID" = #{lctr_id}
		AND			"REG_STATE" = '2003'
	</select>
	<select id="studAttList" resultType="Attendance_Check">
		SELECT		"USER_SEQ", "LCTR_ID", "ATT_STATUS"
		FROM		"ATTENDANCE_CHECK"
		WHERE		"LCTR_ID" = #{lctr_id}
		AND			"USER_SEQ" = #{user_seq}
	</select>
	<select id="StudHomework" resultType="Homework_Submission">
		SELECT		hs."USER_SEQ", hs."ASMT_SCR", h."LCTR_ID"
		FROM		"HOMEWORK_SUBMISSION" AS hs
		JOIN		"HOMEWORK" AS h ON hs."ASMT_NO" = h."ASMT_NO"
		WHERE		h."LCTR_ID" = #{lctr_id}
		AND			hs."USER_SEQ" = #{user_seq}
	</select>
	<select id="getEvalCriteria" resultType="String">
		SELECT		"EVAL_CRITERIA"
		FROM		"LECTURE"
		WHERE		"LCTR_ID" = #{lctr_id}
	</select>
	<select id="getLctrCntschd" resultType="int">
		SELECT		"LCTR_CNTSCHD"
		FROM		"LECTURE"
		WHERE		"LCTR_ID" = #{lctr_id}
	</select>
	<select id="getTotalAsmts" resultType="int">
		SELECT		COUNT("ASMT_NO")
		FROM		"HOMEWORK"
		WHERE		"LCTR_ID" = #{lctr_id}
	</select>
	<select id="getLctrState" resultType="int">
		SELECT		"LCTR_STATE"
		FROM		"LECTURE"
		WHERE		"LCTR_ID" = #{lctr_id}
	</select>
	<insert id="insertGrade" parameterType="Grade">
		INSERT INTO	"GRADE" ("LCTR_ID", "USER_SEQ", "ATNDC_SCR", "ASMT_SCR", "LAST_SCR", "FNSH_YN")
		VALUES	(#{lctr_id}, #{user_seq}, #{atndc_scr}, #{asmt_scr}, #{last_scr}, #{fnsh_yn})
	</insert>
	<select id="getupdateGrade" resultType="Grade">
		SELECT		l."LCTR_ID", l."LCTR_NAME", u."USER_NAME" AS stud_name,
					g."USER_SEQ", g."ATNDC_SCR", g."ASMT_SCR", g."LAST_SCR"
		FROM		"GRADE" AS g
		JOIN		"LECTURE" AS l ON g."LCTR_ID" = l."LCTR_ID"
		JOIN		"USER_INFO" AS u ON g."USER_SEQ" = u."USER_SEQ"
		WHERE		g."USER_SEQ" = #{user_seq}
		AND			g."LCTR_ID" = #{lctr_id}
	</select>
	<update id="updateGrade" parameterType="Grade">
		UPDATE		"GRADE"
		SET			"ATNDC_SCR" = #{atndc_scr}, "ASMT_SCR" = #{asmt_scr}, "LAST_SCR" = #{last_scr}
		WHERE		"USER_SEQ" = #{user_seq}
		AND			"LCTR_ID" = #{lctr_id}
	</update>
	<select id="studGrade" resultType="Grade">
		SELECT		l."LCTR_ID", l."LCTR_NAME", l."ONOFF",
					g."ATNDC_SCR", g."ASMT_SCR", g."LAST_SCR", g."FNSH_YN"
		FROM		"GRADE" AS g
		JOIN		"LECTURE" AS l ON g."LCTR_ID" = l."LCTR_ID"
		WHERE		g."USER_SEQ" = #{user_seq}
		ORDER BY	l."LCTR_NAME"
	</select>
	<select id="studGradeDetail" resultType="Grade">
		SELECT		l."LCTR_ID", l."LCTR_NAME",
					g."ATNDC_SCR", g."ASMT_SCR", g."LAST_SCR", g."FNSH_YN"
		FROM		"GRADE" AS g
		JOIN		"LECTURE" AS l ON g."LCTR_ID" = l."LCTR_ID"
		WHERE		g."USER_SEQ" = #{user_seq}	
		AND			g."LCTR_ID" = #{lctr_id}	
	</select>
	<select id="checkHomework" resultType="Homework">
		SELECT		l."LCTR_NAME", u."USER_NAME" AS prof_name, h."ASMT_NM",
					fg1."FILE_GROUP" AS assigned_file_group, fg1."FILE_NM" AS assigned_file,
					fg2."FILE_GROUP" AS submitted_file_group, fg2."FILE_NM" AS submitted_file
		FROM		"HOMEWORK" AS h
		JOIN		"LECTURE" l ON l."LCTR_ID" = h."LCTR_ID"
		JOIN		"USER_INFO" u ON u."USER_SEQ" = l."USER_SEQ"
		LEFT JOIN	"FILE_GROUP" fg1 ON fg1."FILE_GROUP" = h."FILE_GROUP"
		LEFT JOIN	"HOMEWORK_SUBMISSION" hs ON hs."ASMT_NO" = h."ASMT_NO"
		LEFT JOIN	"FILE_GROUP" fg2 ON fg2."FILE_GROUP" = hs."FILE_GROUP"
		WHERE		h."ASMT_NO" = #{asmt_no}
		AND			hs."USER_SEQ" = #{user_seq}
	</select>
</mapper>