<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postgre.choongsam.mapper.Sh_mapper">
	
	<select id="getStartDay" parameterType="String" resultType="com.postgre.choongsam.dto.Class_ScheduleAddVideo">
		SELECT l."LCTR_START_DATE", s."LCTR_NO", l."LCTR_CNTSCHD", v."VIEWING_PERIOD"
		FROM "LECTURE" l
		JOIN "SYLLABUS" s
		ON l."LCTR_ID" = s."LCTR_ID"
		JOIN "LECTURE_VIDEO" v
		ON s."CONTS_ID" = v."CONTS_ID"
		WHERE l."LCTR_ID" = #{lctr_id}
		ORDER BY 
		    s."LCTR_NO" DESC
		LIMIT 1
	</select>
	
	<insert id="contsFileUpload" parameterType="map">
		INSERT INTO "FILE" ("FILE_GROUP", "FILE_SEQ", "FILE_NM", "FILE_EXTN_NM", "FILE_SZ", "FILE_PATH_NM" )
			VALUES (nextval('file_group_seq'),	1, #{fileName}, #{fileSuffix}, #{file_sz}, #{file_path})
	</insert>
	
	<insert id="fileLectureVideoUpload" parameterType="map">
	    INSERT INTO "LECTURE_VIDEO"("CONTS_ID", "VDO_FILE_NM", "VDO_URL_ADDR", "VIEWING_PERIOD", "VDO_LENGTH", "LCTR_NO", "FILE_GROUP")
	    	VALUES (nextval('conts_id_seq'),  #{title}, #{conts_url}, #{viewing_period}, #{vdo_length}, #{lctr_no}, currval('file_group_seq'))
	</insert>
	
	<insert id="lectureVideoUpload" parameterType="map">
	    INSERT INTO "LECTURE_VIDEO"("CONTS_ID", "VDO_FILE_NM", "VDO_URL_ADDR", "VIEWING_PERIOD", "VDO_LENGTH", "LCTR_NO", "FILE_GROUP")
	    	VALUES (nextval('conts_id_seq'),  #{title}, #{conts_url}, #{viewing_period}, #{vdo_length}, #{lctr_no}, 0)
	</insert>
	
	<insert id="syllabusUpload" parameterType="map">
		INSERT INTO "SYLLABUS"("LCTR_NO", "LCTR_ID", "CONTS_ID", "USER_SEQ", "LCTR_OTLN")
				VALUES (#{lctr_no},  #{lctr_id}, currval('conts_id_seq'), #{user_seq}, #{lctr_otln})
	</insert>
	
	<insert id="chpTimeUpload" parameterType="map">
		INSERT INTO "CLASS_BOOKMARK"("CONTS_ID", "CONTS_CHPTIME", "CONTS_CHPTTL")
				VALUES (currval('conts_id_seq'),  #{chp_time}, #{cap_ttl})
	</insert>
	
	
	
	
	<select id="studentLecture" parameterType="map" resultType="com.postgre.choongsam.dto.Class_ScheduleAddVideo">
		SELECT 
		    c.*,
		    u.*,
		    l.*,
		    s.*,
		    cs.*,
		    lv.*,
		    COALESCE(
		        CASE 
		            WHEN lv."LCTR_NO" = 1 THEN l."LCTR_START_DATE"
		            ELSE lv_prev."VIEWING_PERIOD"
		        END,
		        NULL
		    ) AS "befor_period",
		    CASE 
		        WHEN TO_DATE(lv."VIEWING_PERIOD", 'YYYY-MM-DD') &lt; CURRENT_DATE THEN 
		            CASE 
		                WHEN cs."CONTS_PRGRT" = 100 THEN '출석'
		                ELSE '결석'
		            END
		        WHEN TO_DATE(lv."VIEWING_PERIOD", 'YYYY-MM-DD') > CURRENT_DATE THEN 
		            CASE 
		                WHEN cs."CONTS_PRGRT" = 100 THEN '출석'
		                ELSE '미수강'
		            END
		        ELSE '결석'
		    END AS "VIEW_STATUS"
		FROM "COURSE_REGISTRATION" c
		JOIN "USER_INFO" u ON c."USER_SEQ" = u."USER_SEQ"
		JOIN "LECTURE" l ON c."LCTR_ID" = l."LCTR_ID"
		JOIN "SYLLABUS" s ON l."LCTR_ID" = s."LCTR_ID"
		LEFT JOIN "CLASS_SCHEDULE" cs ON s."LCTR_NO" = cs."LCTR_NO" AND cs."USER_SEQ" = #{user_seq}
		LEFT JOIN "LECTURE_VIDEO" lv ON s."CONTS_ID" = lv."CONTS_ID"
		LEFT JOIN "LECTURE_VIDEO" lv_prev ON lv."LCTR_NO" = lv_prev."LCTR_NO" + 1
		WHERE c."USER_SEQ" = #{user_seq}
		  AND c."LCTR_ID" = #{lctr_id}
		ORDER BY lv."LCTR_NO";
	</select>
	
	<select id="searchSche" parameterType="map" resultType="int">
		SELECT * 
		FROM "CLASS_SCHEDULE"
		WHERE 
			"USER_SEQ"=#{user_seq}::integer
			AND "CONTS_ID"=#{conts_id}
			AND "LCTR_NO"=#{lctr_no}::integer
	</select>
	
	<insert id="insertSche" parameterType="map">
		INSERT INTO "CLASS_SCHEDULE" 
			("LCTR_NO", "LCTR_ID", "CONTS_ID", "USER_SEQ", "CONTS_FINAL", "CONTS_MAX", "CONTS_PRGRT")
			VALUES (#{lctr_no}, #{lctr_id}, #{conts_id}, #{user_seq}, 0, 0, 0);
	</insert>
	
	
</mapper>